img {
    height: 200px;
}
a.contenedor {
    display: inline-block; /* Para que el ancho se ajuste al contenido */
    text-align: center;
  }
  a.contenedor img {
    display: block; /* Evita espacios extra debajo de la imagen */
  }
  /* El span se comporta como bloque con ancho completo y el texto se alinea a la izquierda */
  a.contenedor .alineado {
    display: block;
    width: 100%;  /* Ocupa el mismo ancho que el contenedor */
    text-align: center;
  }