body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('Imagenes Sanrio/kalpli-duvar-kagidi-d080dfd8.jpg')
              no-repeat center center fixed;
  /*background-image: url('https://img.freepik.com/fotos-premium/fondo-rosa-acuarela-abstracta_3590-11.jpg');*/
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */

}
.alinear {
    display: flex;
    text-align: center;
    align-self: center;
}
.englobador {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px; /* Espaciado entre el texto y el contenido */
}
.englobe_anuncio1 {
  padding-left: 0;
  position: relative; /* Contenedor relativo para que los elementos internos se posicionen en base a él */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* Ajusta según necesites */
    height: 500px; /* Ajusta según necesites */
    background-image: url('https://i.ytimg.com/vi/MPSb2qJ53aE/maxresdefault.jpg'); /* Reemplaza con la URL de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para que cubra todo */
    background-position: center; /* Centra la imagen */
    padding: 10px;
}
.englobe_anuncio2 {
  position: relative; /* Contenedor relativo para que los elementos internos se posicionen en base a él */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px; /* Ajusta según necesites */
  height: 500px; /* Ajusta según necesites */
  background-image: url('https://i.pinimg.com/236x/05/49/86/05498664d54894f92c6523c50c1eb9e6.jpg'); /* Reemplaza con la URL de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen para que cubra todo */
  background-position: center; /* Centra la imagen */
  padding: 10px;
  
}
.esquina_derecha {
  margin-top: 0;
  padding-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 30px;
}
.enlace_anuncio {
    cursor: pointer;
    user-select: none;
}
.menu {
    display: inline;
}
img {
    height: 200px;
    padding: 0;
}
a.contenedor {
    display: inline-block; /* Para que el ancho se ajuste al contenido */
    text-align: center;
  }
  a.contenedor img {
    display: block; /* Evita espacios extra debajo de la imagen */
  }
  /* El span se comporta como bloque con ancho completo y el texto se alinea a la izquierda */
  a.contenedor .alineado {
    display: block;
    width: 100%;  /* Ocupa el mismo ancho que el contenedor */
    text-align: center;
  }